<h1>Please sign up</h1>

<form action="/" method="POST">
  <input type="text" type="text" placeholder="username" name="name"><br>
  <input type="text" type="text" placeholder="email" name="email"><br>
  <input type="text" type="password" placeholder="password" name="password"><br>
  <p>Role:</p>
  <label for="volunteer">Volunteer:</label>
  <input type="checkbox" checked="true" name="volunteer"><br>
  <label for="notvolunteer">Not Volunteer:</label>
  <input type="checkbox" checked="true" name="notvolunteer"><br>
  <p>Categories:</p>
  <label for="shopping">Shopping:</label>
  <input type="checkbox" checked="true" name="shopping"><br>
  <label for="medicine">Medicine:</label>
  <input type="checkbox" checked="true" name="medicine"><br>
  <label for="chat">Someone To Talk To:</label>
  <input type="checkbox" checked="true" name="chat"><br>


    <p>More info:</p>
  <input type="text" type="text" placeholder="title" name="title"><br>
  <input type="text" type="text" placeholder="category" name="category"><br>
  <input type="text" type="text" placeholder="job description" name="job_description"><br>
  <input type="text" type="text" placeholder="location" name="location"><br>
  <label for="mark_as_done">Mark as done:</label>
  <input type="checkbox" checked="true" name="mark_as_done"><br> <br>


  <br>
  <label for="address">Address:</label><br>
  <input type="text" type="text" placeholder="Address Line 1" name="addressl1"><br>
  <input type="text" type="text" placeholder="Address Line 2" name="addressl2"><br>
  <input type="text" type="text" placeholder="City" name="city"><br>


  <input type="submit" value="signup">
</form>