<h1>Please sign up</h1>

<form action="/" method="POST">
  <input type="text" type="text" placeholder="username" name="name"><br>
  <input type="text" type="text" placeholder="email" name="email"><br>
  <input type="text" type="password" placeholder="password" name="password"><br>
  <p>Role:</p>
  <label for="volunteer">Volunteer:</label>
  <input type="checkbox" checked="true" name="volunteer"><br>
  <label for="notvolunteer">Not Volunteer:</label>
  <input type="checkbox" checked="true" name="notvolunteer"><br>
  <p>Categories:</p>
  <label for="shopping">Shopping:</label>
  <input type="checkbox" checked="true" name="shopping"><br>
  <label for="medicine">Medicine:</label>
  <input type="checkbox" checked="true" name="medicine"><br>
  <label for="chat">Someone To Talk To:</label>
  <input type="checkbox" checked="true" name="chat"><br>


  <input type="submit" value="signup">
</form>