<h1>Please sign up</h1>

<form action="/" method="POST">
  <input type="text" type="text" placeholder="username" name="name"><br>
  <input type="text" type="text" placeholder="email" name="email"><br>
  <input type="text" type="password" placeholder="password" name="password"><br>
  <input type="submit" value="signup">
</form>