
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    
}
.navbar {
    background-color:  #32BD6D;
}
.navbar li {
   
}
.navbar ul li a {
    color: white;

}