
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 3.5vh;
    margin-right: 4vh;
    margin-bottom: 0vh;
}
.navbar {
    margin-left: 1vh;
}
.navbar li {
    
}