@media only screen and (max-width: 450px) {

   
    .wholePostingsBody h2 {
        color: gray;
        font-size: 3vh;
    }
    .title {
        width: 100%;
        height: 7vh;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: gray;
        font-size: 3vh;
       
    }
    .description {
        width: 100%;
        height: 29vh;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: gray;
        font-size: 3vh;
       
    }
    .postcode {
        width: 100%;
        height: 7vh;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: gray;
        font-size: 3vh;
    }

    .postingsButton {
        background-color: #32BD6D;
        width: 100%;
        height: 9vh;
        margin-top: 1vh;
        margin-bottom: 3vh;
        font-size: 4vh;
        color: white;
        font-weight: 700;
    }
    .radioButtons {
      font-size: 3.5vh;

    }
    .cat1 {
        display: flex;
        margin-bottom: 0vh;
        font-size: 3.5vh;
    }
    .radioRing1 {
        margin-left: 4vh;
    }
    .radioRing2 {
        margin-left: 4.7vh;
    }
    .radioRing3 {
        margin-left: 9.8vh;
    }
    .radioRing4 {
        margin-left: 2.3vh;
    }
    input[type='radio'] {
        height: 6vh;
        width: 8vw;
        vertical-align: middle;
    }

    .categoryDiv, .titleDiv, .descriptionDiv, .postcodeDiv {
        font-size: 3vh;
        font-weight: bold;
        margin-bottom: -1vh;
        margin-top: 1vh;
    }


    textarea[type='text'] {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

}

