
@media only screen and (max-width: 450px) {

    .wholePostingsBody h2 {
        color: gray;
        font-size: 3vh;
    }
    .title {
        width: 90vw;
        height: 7vh;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: gray;
    }
    .description {
        width: 90vw;
        height: 15vh;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: gray;
    }
    .postcode {
        width: 90vw;
        height: 7vh;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: gray;
    }

    .postingsButton {
        background-color: #32BD6D;
        width: 90vw;
        height: 9vh;
    }
    

}

